.attribution { 
    font-size: 11px; text-align: center;
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}

footer{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 95vh;
    background-color:  hsl(47, 88%, 63%);
    font-family: 'Figtree';
}

.card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: hsl(0, 0%, 100%);
    flex-wrap: wrap;
    width: 340px;
    padding: 30px;
    border-radius: 20px;
    gap: 20px;
    box-shadow: 10px 10px;
    border: 1px solid black;
}

p, h2{
    margin: 0;
}

.learning{
    background-color: hsl(47, 88%, 63%);
    width: 68px;
    font-weight: 700;
    padding: 8px;
    border-radius: 4px;
}

.published{
    font-weight: 700px;
}

.card p{
    font-size: 16px;
    color: hsl(0, 0%, 42%);
}


.author{
    display: flex;
    align-items: center;
    gap: 10px;
}

img{
    width: 40px;
    height: auto;
}

.author p{
    font-size: 16px;
    font-weight: 700;
    color: black;
}

svg{
    border-radius: 17px;
}